.tech {
  display: inline-block;
  margin: 0.5em;
  border: 1px solid black;
}

.prereq {
  margin-left: 1em
}

body {
  padding-top: 50px; 
}

.splash {
  font-size: 72px;
  margin-top: 50px;
}