.tech {
  position: absolute;
  display: inline-block;
  border: 1px solid black;
}

.prereq {
  margin-left: 1em
}

body {
  margin-top: 50px; 
}

.splash {
  font-size: 72px;
  margin-top: 50px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
  z-index: -1;
}

.svg {
  position: absolute;
  top: 0px;
  left: 0px;
}